body {
    background-image: url(./img/background.jpg);
   background-size: cover;
}

form {

    background-color: rgba(0, 0, 0, 0.10);
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.90);
    margin: 29vh 80vh;
    width: 290px;
    height: 300px;

z-index: 99;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0px 90px;
    padding:9.9px;
    text-shadow: 2px 2px 100px black, 0 0 1em black, 0 0 0.2em black;
    color: white;

}

.email,
.password {
    width: 70%;
    height: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 0px;


}

.email {
    margin: 20px 0px 0px 43px;
}

.password {
    margin: 5px 0px 0px 43px;
}

input::placeholder {
    color: white;
    opacity: 1;
}

button {
    border-radius: 5px;
    width: 71.555%;
    height: 25px;
    margin: 5px 0px 0px 43px;
    color: white;
    background-color: green;
    border: 0px;

}

.checkbox {
   
margin:5px 0px 0px 3px;
background-color: rgba(0, 0, 0, 0.10);

}



label {
    margin: 5px 0px 0px 43px;
    font-size: 11px;
    color: rgb(201, 191, 191);
}

a {
    float:right;
    font-size: 10px;
    margin:5px 43px 5px 0px;
    color: rgb(56, 55, 55);
}
.fa-circle-xmark{
    position: relative;
   left: 270px;
   color: rgba(0, 0, 0, 0.3);

}