body{
    margin-left:20vh ;
    background-color: rgb(203, 203, 203);
}
div{
    width: 25vw;
    height: 40vh;
   
    display: inline-block;
    background-color: white;
    margin: 15px;
     
}
.div2{
    box-shadow: 0 0 6px gray;
}
.div3{
box-shadow: 1px 1px 7px gray;

}
.div4{
    box-shadow: 2px 2px 8px gray;
}
.div5{
    box-shadow: 3px 3px 9px gray;
}
.div6{
    box-shadow: 4px 4px 10px gray;
}