body {
    margin: 0;
}

header {
    background-color: rgba(1, 107, 56, 1);
    height: 50px;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;

}

.fa-phone {
    height: 12.5px;
    width: 12.50000286102295px;

    color: #FFFFFF;
    margin: 19px 10px 19px 30px;
}

.phone {
    height: 15px;
    width: 109px;
    margin: 18px 50px 17px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
}

.fa-envelope {
    height: 15px;
    width: 15px;
    margin: 17px 0 18px -35px;
    color: #FFFFFF;
}

.mail {
    height: 15px;
    width: 105px;
    margin: 18px 30px 17px 10px;

    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.fa-location-dot {
    height: 11.25px;
    width: 8.750001907348633px;
    margin: 17px 10px 18px -20px;
    color: rgba(255, 255, 255, 1);

}

.location {
    height: 15px;
    width: 99px;
    margin: 18px 4px 17px 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.sosial_media {
    margin-left: 100px;
}

.fa-facebook {
    height: 15.74752426147461px;
    width: 8.947001457214355px;
    color: #FFFFFF;
    margin: 18px 5px 17px 60vw;

}

.fa-instagram {
    height: 18.333330154418945px;
    width: 18.333332061767578px;
    color: #FFFFFF;
    margin: 18px 5px 17px 10px;

}

.fa-linkedin {
    height: 11.40333366394043px;
    width: 16.412921905517578px;
    color: #FFFFFF;
    margin: 18px 5px 17px 5px;
}

.fa-whatsapp {
    height: 21px;
    width: 21px;
    color: #FFFFFF;

    margin: 18px 5px 17px 5px;
}

.nav1 {
    display: flex;
    width: 1440px;
    height: 90px;
   

}

.group_img {
    height: 47.81512451171875px;
    width: 44.53204345703125px;
    margin: 25px 7px 2px 90px;
}


.MMC {
    color: green;
    width: 200px;
    height: 15px;
display: inline;
    margin-top: 20px;
    margin-right: 0;
 
    font-size: 20px;
}

.layihe {
    color: green;
    width: 100px;
    height: 15px;
    margin-top: 50px;
    margin-left: -200px;
    font-size: 15px;
    display: inline;
    text-align: center;
    padding:0 12px;
}
ul {
    display: flex;
    margin-left: 50px;
}
li{
    font-size: 30px;
   margin:20px 45px;
}

.page_title{
width: 1440px;
height: 255px;
background: url(./img/image\ 9.png);
position: relative;

}
.page_title::after{
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(137, 133, 133, 0.9)
  
}
.page_title_content{
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 50px;
}
/* .line{
    position: relative;
    z-index: 2;
    width: 10px;
    height: 40px;
    background-color: rgba(1, 107, 56, 1);
} */