body {
    margin: 0;
}

header {
    background-color: rgba(1, 107, 56, 1);
    height: 50px;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;

}

.fa-phone {
    height: 12.5px;
    width: 12.50000286102295px;

    color: #FFFFFF;
    margin: 19px 10px 19px 30px;
}

.phone {
    height: 15px;
    width: 109px;
    margin: 18px 50px 17px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
}

.fa-envelope {
    height: 15px;
    width: 15px;
    margin: 17px 0 18px -35px;
    color: #FFFFFF;
}

.mail {
    height: 15px;
    width: 105px;
    margin: 18px 30px 17px 10px;

    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.fa-location-dot {
    height: 11.25px;
    width: 8.750001907348633px;
    margin: 17px 10px 18px -20px;
    color: rgba(255, 255, 255, 1);

}

.location {
    height: 15px;
    width: 99px;
    margin: 18px 4px 17px 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.sosial_media {
    margin-left: 100px;
}

.fa-facebook {
    height: 15.74752426147461px;
    width: 8.947001457214355px;
    color: #FFFFFF;
    margin: 18px 5px 17px 60vw;

}

.fa-instagram {
    height: 18.333330154418945px;
    width: 18.333332061767578px;
    color: #FFFFFF;
    margin: 18px 5px 17px 10px;

}

.fa-linkedin {
    height: 11.40333366394043px;
    width: 16.412921905517578px;
    color: #FFFFFF;
    margin: 18px 5px 17px 5px;
}

.fa-whatsapp {
    height: 21px;
    width: 21px;
    color: #FFFFFF;

    margin: 18px 5px 17px 5px;
}

.nav1 {
    display: flex;
    width: 1440px;
    height: 90px;


}

.group_img {
    height: 47.81512451171875px;
    width: 44.53204345703125px;
    margin: 25px 7px 2px 90px;
}


.MMC {
    color: green;
    width: 200px;
    height: 15px;
    display: inline;
    margin-top: 20px;
    margin-right: 0;

    font-size: 20px;
}

.layihe {
    color: green;
    width: 100px;
    height: 15px;
    margin-top: 50px;
    margin-left: -200px;
    font-size: 15px;
    display: inline;
    text-align: center;
    padding: 0 12px;
}

ul {
    display: flex;
    margin-left: 50px;
}

li {
    font-size: 30px;
    margin: 20px 45px;
}

.page_title {
    width: 1440px;
    height: 255px;
    display: inline-block;
    background: url(./img/image\ 9.png);
    position: relative;


}

.page_title::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(1, 107, 56, 0.5);

}

.page_title_content {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 50px;
    inset: 20px 400px 0 40px;

}

.line {
    position: relative;
    z-index: 2;
    inset: 75px 415px 0 25px;
    width: 10px;
    height: 50px;
    background-color: rgb(236, 137, 23);
}

.page_title_content2 {

    position: relative;
    z-index: 2;
    inset: 10px 0 0 25px;
    font: roboto;
    color: white;
}

main {
    width: 1440px;
    height: 992px;
    background-color: rgb(218, 208, 208);
    display: flex;
    flex-wrap: wrap;

}

.main_block_1 {
    height: 340px;
    width: 340px;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0px 20px 80px;
    box-shadow: 5px 10px 10px rgb(90, 86, 86);


}

.main_block_content_1 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;


}

footer {
    width: 1440px;
    height: 465px;
    background-color: rgba(1, 107, 56, 1);
    display: flex;
}

.footer_block_1 {
    width: 400px;
    height: 465px;
    display: flex;
    border: 1px solid red;

}

/* 
.MMC_footer {
border: 1px solid red;
    width: 900px;
    height: 15px;
    display: inline;
    margin-top: 20px;
    margin-right: 0;
    color: white;
    font-size: 11px;
}

.layihe_footer {
    border: 1px solid red;
    color: white;
    width: 900px;
    height: 30px;
    margin-top: 40px;
    margin-left: -100px;
    font-size: 15px;
    display: inline;
    text-align: center;
    padding: 0 12px;
  
   
}

.footer_content {
    color: white;
   font-size: 10px;
   margin-top: 100px ; 
   
} */

.footer_logo {
    height: 56px;
    width: 51.77394485473633px;
    margin-top: 67px;
    margin-left: 90px;

}

.footer_logo_h {
    height: 13.594541549682617px;
    width: 13.208130836486816px;
    color: white;
    margin-top: 60px;
    font-size: 20px;
}

.footer_logo_p {
    height: 9.153654098510742px;
    width: 900.1161789894104004px;
    color: white;
    margin-top: 111px;

    font-size: 10px;

}

.footer_content_1 {
    height: 200px;
    width: 400px;
    color: white;
    margin-top: 150px;
    margin-left: -600px;
    margin-right: 90px;
    font-size: 20px;
}
.footer_sosial_media{
    display: flex;
}